

.body{
margin: 0;
padding: 0;
width: 100%;
box-sizing: border-box;
}
/*Navbar*/
.navbar {
    height: 2.5625em;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0.625em 0;
    margin: 0;
    font-family: cursive;
    transition: all 0.3s ease;
    background-color: rgb(103, 223, 207);
}
.max-width{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 81.25em;
    padding-left: 7.875em;
    padding-right: 60px;
    margin: auto;
    height: 35px;
}
.logo{
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.logo-i{
color: #ffe772;
}
.menu{
    margin-top: 2.125em;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    list-style: none;
    height: 2.5625em;
    font-size: 1.375em;
    margin-left: inherit;

}
.menu-btn{
    display: flex;
    text-decoration: none;
    padding-right: 1.875em;
    color: #fff;
}
.menu-btn:hover{
    cursor: pointer;
    color: black;
}




/*SLIDER*/
.img{
    width: 100%;
}
.slider{
width: 100%;
height: auto;
padding: 60px 0;
}
.slider-full{
    width: 80%;
    position: absolute;
    height: 200px;
    margin: 19% 10%;
}
.slider-text{
    position: absolute;
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 12px yellow;
    font-family: monospace;
    width: 100%;
    text-align: center;
}
.slider-text1{
    position: absolute;
    font-size: 35px;
    font-family: monospace;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 12px yellow;
    width: 100%;
    text-align: center;
    margin-top: 75px;
}
.marquee{
    padding-top: 12px;
}
.marquee-text{
    font-size: 27px;
    color:#fff;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 0 0 6px rgb(30, 255, 0);
}

.title{
    font-size: 60px;
    text-shadow: 0 0 6px rgb(255 18 18);
}
.title-text{
    text-align: center;
    padding-top: 12px;
    margin-left: 66px;
    font-size: 24px;
    font-family: cursive;
    text-shadow: 0 0 4px red;
}


/*Introduction*/
.introduction{
width: 100%;
height: 550px;
}
.introduction-sub{
    width: 84%;
    height: 390px;
    margin-top: 22px;
    padding: 0 8%;
}
.introduction-sub-left{
    height: 100%;
    width: 40%;
    background-image: url(https://st.quantrimang.com/photos/image/2019/07/06/it-la-gi-2.jpg);
}
.introduction-sub-right{
    width: 120%;
    margin-left: 120%;
}
.h1{
    font-family: cursive;
}
.p{  height: auto;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #8e8e8e;
}

/*Interests*/
.interest{
    width: 100%;
    height: 565px;
    background-color: black;
}

/*Contact*/
.contact{
    width: 100%;
    height: 570px;
}

/*Footer*/
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
footer span a{
    color: #3DCFD3;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .nav-footer {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    #icons {
        flex-direction: row;
        justify-content: flex-start;
    }
    ul.nav-footer {
        padding: 0 !important;
    }
    #icons {
        margin-left: -2rem;
    }
    .social-media-and-author {
        align-items: flex-start;
    }
}

@media (max-width: 690px) {
    .social-media { 
        right: 24.5px;
    }
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 480px) { 
    .home .home-content .text-2{
        font-size: 2.5rem !important;
    }
    .home .home-content a{
        padding: 12px 1rem;
}}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
.nav-footer {
    display: flex;
    justify-content:center;
}
.summary {
    justify-content: space-around;
    margin-bottom: 2rem;
}
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer h2 {
    margin-bottom : .5rem;
}
.left-footer {
    flex: 30%;
}
.middle-footer {
    flex: 30%;
}
.right-footer {
    flex: 40%;
}
.footer p {
    font-size: 1re;
    color: gray;
}
ul.nav-footer {
    padding: 2rem 0;
    padding-right: 2rem;
}
.social-media-and-author {
    display: flex;
    flex-direction: column;
}
.field.name i, .field.email i, .field.subject i , textarea ~ i { 
    position: absolute;
    left: 0;
    top:15px;
    padding-left: 15px;
}
